* {
    box-sizing: border-box;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
  thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
  header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
   margin: 0 30px;
   padding: 0;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .header {
    color: white;
    background-color: black;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

.p-12 {
    padding: 12px;
}

.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: justify;
  margin-left: 16px;
  margin-right: 16px;
}
.p-h2 {
font-weight: 400;
font-size: 24px;
text-align: justify;
margin-left: 16px;
margin-right: 16px;
}
.p-h3 {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  text-align: justify; 
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
}
 .link {
  font-style: italic;
 }

 .card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
 }
 .container {
  margin-left: 16px;
  margin-right: 16px;
}
.image-container {
  text-align: center;
 
}

.image-container img {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-container {
  text-align: center;
}


 
